.menu-container {
  background-color: white;
  padding: 16px;
}

img {
  width: 300px;
}

:host ::ng-deep .mat-button-wrapper {
  color: black;
}

.top-menu {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}
